*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.absolute{
    position: absolute;
}

body,html{
    height: 250px;
    width: 300px;
    position: relative;
    overflow: hidden;
    background-image: url("images/bg2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}


.slide_1{
    height: 250px;
    width: 300px;
    cursor: url(images/cursor.png) 2 2, pointer;
    overflow: hidden;
    background-color: transparent;
    top: 0;
    left: 0;
}

/*.cursor_box{*/
    /*height: 115px;*/
    /*width: 300px;*/
    /*background-color: transparent;*/
    /*!*cursor: pointer;*!*/
   /**/
    /*top: 100px;*/
    /*left: 0;*/
/*}*/


.domestic_1,.domestic_2,.domestic_3{
    height: 100px;
    width: 125px;
    background-size: 100%;
    background-repeat: no-repeat;
    left: -100px;

}

.domestic_1{
    background-image: url("images/camel.png");
    top: 115px;
}


.domestic_2{
    background-image: url("images/cow.png");
    top: 125px;
}

.domestic_3{
    background-image: url("images/goat2.png");
    top: 125px;
}
