*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.absolute{
    position: absolute;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

body,html{
    height: 250px;
    width: 300px;
    position: relative;
    overflow: hidden;
    background-image: url("images/bg2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}



.slide_1,.slide_2{
    height: 250px;
    width: 300px;
    cursor: url(images/cursor.png) 2 2, pointer;
    overflow: hidden;
    background-color: transparent;
    top: 0;
    left: 0;
}

.slide_2{
    background-image: url(images/bg2.jpg);
}

.selector_div{
    height: 30px;
    width: 100px;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 5px;
    border-radius: 10px;
    top: 75px;
    left: 95px;
    animation: shakes 1.8s ease infinite;
    z-index: 1000;
}

@keyframes shakes {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.domestic_1,.domestic_2,.domestic_3,.domestic_4,.domestic_5{
    height: 100px;
    width: 125px;
    background-size: 100%;
    background-repeat: no-repeat;
    left: -100px;
}

.domestic_1{
    background-image: url("images/camel.png");
    top: 115px;
}


.domestic_2{
    background-image: url("images/cow.png");
    top: 125px;
}

.domestic_3{
    background-image: url("images/goat2.png");
    top: 125px;
    left: 200px;
}

.domestic_4{
    background-image: url("images/Ox.png");
    top: 125px;
    left: 100px;
}

.domestic_5{
    background-image: url("images/ggoat.png");
    top: 125px;
}


.time_board{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-weight: bold;
    background-color: white;
    text-align: center;
    padding-top: 7px;
    color: black;
    top: 10px;
    right: 10px;
}


.score_board{
    height: 20px;
    width: 75px;
    padding-top: 4px;
    font-weight: bold;
    text-align: center;
    color: black;
    top: 10px;
    left: 5px;
}


.total_score{
    width: 100%;
    text-align: center;
    top: 150px;
    color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 36px;
}

.restart{
    width: 300px;
    height: 40px;
    top: 90px;
    text-align: center;
}


.effect_dylan{
    animation: effect_dylan .5s ease;
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}



